// Golds Gym Color Palette

$wine-red: #b0122a;
$sandstorm: #ead438;
$blood-red: #890004;
$tenne-or-tawny: #d55303;
$fulvous: #e68000;
$crayolas-gold: #e6c990;
$white: white;
$auth-button-primary: #fff101;
$auth-background-color: rgb(50, 50, 60);
